/*basic page starts here*/
:root {
    --light-vio: #635985;
    --medium-vio: #443C68;
    --dark-vio: #393053;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: 100%;
    max-height: 70vh;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 768px) {
    .parent-container {
        flex-direction: column;
    }
}

.navib {
    background: var(--dark-vio);
    width: 100%;
    height: 90px;
    border-bottom: 5px solid #443C68;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
    position: relative;
    top: 15px;
}

nav .log {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin-left: auto;
}
nav ul li a {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%; /* 20px */
    letter-spacing: 1px;
    text-decoration: none;
    transition: transform 0.5s;

}

nav ul li a:hover {
    text-decoration: underline;
}

.image {
    width: 100%;
    height: calc(100vh - 90px); /* Adjusted height to fill remaining space */
    position: absolute;
    
    overflow: hidden; /* Hide overflow if image is larger */
    z-index: 1;
}

.image img {
    width: 100%;
    height: auto;
    max-height: 100%; /* Set max height for the image */
}

.wrap{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/*basic page ends here*/
/*table starts here*/
table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8); /* Translucent white background */
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: black;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2; /* Light gray background for header */
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.6); /* Translucent background on hover */
}

/* Center the table within the hero-section */
.table-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*table ends here*/


/*citizen page ends here*/
/*govtmain page start*/

/* Box container styles */
.parent-container {
    position: relative;
}
/*.catch-line {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
    font-size: 24px;
}*/

.catch-line {
    position: absolute;
    top: 40%;
    left: 50;
    color: white; /* Adjust text color as needed */
    white-space: nowrap;
    overflow: hidden;
}

@keyframes moveText {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    10% {
        transform: translateX(0%);
        opacity: 1;
    }
    90% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(-35%);
        opacity: 0;
    }
}

.catch-line h1, .catch-line p {
    margin: 0;
    padding: 0;
    animation: moveText 10s linear infinite; /* Adjust the duration as needed */
}

/* Box container styles */
.button-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    position: absolute;
    top: 0; /* Adjusted top value */
    left: 0; /* Added left value */
    z-index: 2;
    width: 50%;
}

/* Box styles */
.box {
    background: var(--medium-vio);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.box-button {
    background: var(--light-vio);
    color: #FFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 150px;
}

.box {
    background: rgba(24, 24, 23, 0.8); /* Adjust the rgba values and opacity as needed */
    padding: 40px;
    border-radius: 50px;
    text-align: center;
    color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add margin between the boxes */
}

/* Adjust the styling for the buttons */
.box-button {
    display: inline-block;
    background: var(--light-vio);
    color: #FFF;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove underline for anchor tags */
    transition: background 0.3s;
}

.box-button:hover {
    background: #443C68;
}

.catch-line {
    position: absolute;
    top: 40%;
    left: 85%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #faf5f8;
}

.catch-line h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.catch-line p {
    font-size: 20px;
    color: #eee;
}

/*govt main page ends*/
/*Transfer Page starts here*/

/* Add this section for the slideshow */
#background-image {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-image: url('image/kidsmile.jpg'); /* Replace 'your-image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
/*transfer page ends here*/
/*about us page starts here*/
#back-image {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-image: url('image/earthquake-1665870_1280.jpg'); /* Replace 'your-image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
/* Add this section for the about content */
/* Add this CSS after your existing styles */
.feature-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.feature-box {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin-bottom: 20px;
}

.feature-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature-box p {
    font-size: 16px;
    line-height: 1.6;
}

.about-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
    padding: 50px;
    border-radius: 50px;
    text-align: center;
    overflow-y: scroll;
    max-height: 70vh;
}


.feature-box:nth-child(1) {
    background: linear-gradient(45deg, #fac2cb, #FF69B4); /* Gradient from pink to hotpink */
}

.feature-box:nth-child(3) {
    background: linear-gradient(45deg, #a8f8d9, #00FF7F); /* Gradient from mediumseagreen to springgreen */
}

.feature-box:nth-child(2) {
    background: linear-gradient(45deg, #a9cdf1, #4169E1); /* Gradient from dodgerblue to royalblue */
}

.feature-box:nth-child(4) {
    background: linear-gradient(45deg, #e3d68c, #FFA500); /* Gradient from gold to darkorange */
}


/*about us page ends here*/
/*survey page starts here*/
#backyim {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-image: url('image/warmhug.jpg'); /* Replace 'your-image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    z-index: 1;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 500px;
    width: 100%;
    text-align: left;
}

.card h2 {
    color: #635985;
}

.card ul {
    list-style: none;
    padding: 0;
}

.card ul li {
    margin-bottom: 10px;
}

.card ul li strong {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}